body {
  background: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
}

.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  border: 1px solid black;
  width: 5rem;
  height: 5rem;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-container .flip {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  background: linear-gradient(109.6deg, rgb(6, 136, 249) 11.2%, rgb(25, 74, 236) 91.1%);
  font-size: x-large;
  color: white;
  transform: rotateY(180deg);
}

.restart {
  background-color: transparent;
  border: none;
}
