body {
  background: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
}

.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  display: flex;
  gap: 1rem;
}

.board-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  border: 2px solid black;
  width: 7rem;
  height: 7rem;
  background-color: rgb(63, 118, 221);
}

.logo {
  width: 50%;
  height: 100%;
}